extends ./layout.pug

block main
	#gallery
		nav.grey.darken-3
			.container
				#page-number.center.brand-logo
				#controls.right
					a.btn-floating.grey.darken-1(href='#')#left &#x2190;
					span.space
						input#rtl(type='checkbox')
						label(for='rtl') Right to left
					a.btn-floating.grey.darken-1(href='#')#right &#x2192;
		img#current-slide
	.card
		.card-content
			h3.title= data.title
			.divider
			.row.section
				if typeof data.image != 'undefined'
					img.col.s5(src=data.image)
				.grey-text Status: #{data.status}
				if typeof data.lastChapterDate != 'undefined'
					.grey-text Last chapter #{data.lastChapterDate}
				else
					.grey-text No chapters
				.grey-text #{data.views} views

				p.section !{data.description}
			div
				each genre in data.genres
					.chip= genre
	if data.chapters.length > 0
		.collection.z-depth-1
			each chapter in data.chapters
				a.collection-item.light-blue-text.chapter-link(href='/api/chapter/' + backend + '/' + chapter.id)
					span.grey-text= chapter.number + ' - '
					span= chapter.title
					span.right.grey-text= chapter.date

block script
	script(src='https://cdnjs.cloudflare.com/ajax/libs/galleria/1.4.2/galleria.min.js', type='text/javascript')
	script.
		var slides = [];
		var current = 0;

		var rightToLeft = true;

		$(document).ready(function () {
			var rtl = localStorage.getItem('rightToLeft');
			console.log(rtl);
			console.log(typeof rtl);
			if (rtl != null) {
				if (rtl == 'false') {
					rightToLeft = false;
				} else {
					rightToLeft = true;
				}
			} else {
				localStorage.setItem('rightToLeft', rightToLeft);
			}

			$('#rtl').prop('checked', rightToLeft);
		});

		$('#rtl').change(function (e) {
			rightToLeft = $(this).prop('checked');
			console.log(localStorage.getItem('rightToLeft'));
			localStorage.setItem('rightToLeft', rightToLeft);
			console.log(localStorage.getItem('rightToLeft'));
		});

		$(document).keydown(function(e) {
			switch(e.which) {
				case 27:
					resetSlides();
					break;

				case 37: // left
					left();
					break;

				case 39: // right
					right();
					break;

				default: return;
			}
			e.preventDefault();
		});

		$('#left').click(function (e) {
			e.preventDefault();
			e.stopPropagation();
			left();
		});

		$('#right').click(function (e) {
			e.preventDefault();
			e.stopPropagation();
			right();
		});

		function resetSlides() {
			$('#gallery').hide();
			slides = [];
			current = 0;
		}

		function setSlide() {
			if (slides.length < 1) {
				return;
			}

			if (current < 0 || current >= slides.length) {
				return;
			}

			$('#gallery').show();
			$('#page-number').text((current + 1) + '/' + slides.length);
			$('#current-slide').attr('src', slides[current]);
		}

		function nextSlide() {
			current++;
			if (current >= slides.length) {
				current = slides.length - 1;
			}

			setSlide();
		}

		function previousSlide() {
			current--;
			if (current < 0) {
				current = 0;
			}

			setSlide();
		}

		function left() {
			if (rightToLeft) {
				nextSlide();
			} else {
				previousSlide();
			}
		}

		function right() {
			if (rightToLeft) {
				previousSlide();
			} else {
				nextSlide();
			}
		}

		$('.chapter-link').click(function (e) {
			e.preventDefault();
			$.get($(this).attr('href'), function (data) {
				slides = data;
				current = 1;
				previousSlide();
			});
		});

		$('#gallery').click(function (e) {
			slides = [];
			current = 0;
			$(this).hide();
		});

		$('#gallery nav').click(function (e) {
			e.stopPropagation();
		});
